includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - routes

    # The level 9 is the highest level
    level: 6

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./routes/console.php
        - ./app/Http/Controllers/Auth/VerifyEmailController.php
        - ./app/PhpstanRules
        - ./*/*/FileToBeExcluded.php

services:
    -
        class: App\PhpStanRules\MissingClosureParameterTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PhpStanRules\MissingArrowFunctionParameterTypehintRule
        tags:
            - phpstan.rules.rule
